/* Misc */
body { word-wrap:break-word; }

ol li ul, ol li ol { 
margin-bottom: 1.25em;
}

article { 
/*padding-left:1em; */
}

.article-header { 
}

/* Base.html - top navigation */
.top-bar {
/* 2BA6E3 #2B0034 */
background: #489; /* Header color */
background-image: -moz-linear-gradient(center top , #7ab, #478);
background-repeat: repeat-x;
height: 100%; 
padding-top: 3em;
margin-bottom: 1em; 
border-bottom: 1em solid #11110f;
}

.top-bar a {
color: #11110f;
font-weight: bold;
font-size: 3.75rem;
} /* Sitename color */
ul.button-group.navigation { margin-bottom: 1em; }


/* Base.html sidebar */
h5.sidebar-title {
border-bottom: 0.1em solid #333331;
color: #333331;
margin-top: 1em;
font-weight: bold;
text-transform: uppercase;
}

.side-nav li a { color: #333331; }
.side-nav { padding: 0.5em 0; }


/* Index.html - posts */
h3.article-title {
margin-bottom: 0em; 
color: #bba;
}


/* Article infos | infos_bottom.html */
.subheader { color: #444441; margin-bottom: 1.2em; }
a.article-info { color: #444441; }


/* Archives.html */
.table-archive { border: none; }


/* Index.html - line separator for posts */
hr.gradient {
border: 0;
height: 1px;
margin-top: 3em;
margin-bottom: 3em;
background-image: -webkit-linear-gradient(left, rgba(44,44,44,0.1), rgba(38,38,38,1), rgba(44,44,44,0.1)); 
background-image:    -moz-linear-gradient(left, rgba(44,44,44,0.1), rgba(38,38,38,1), rgba(44,44,44,0.1)); 
background-image:     -ms-linear-gradient(left, rgba(44,44,44,0.1), rgba(38,38,38,1), rgba(44,44,44,0.1)); 
background-image:      -o-linear-gradient(left, rgba(44,44,44,0.1), rgba(38,38,38,1), rgba(44,44,44,0.1)); 
}

/* Syntax Highlighting */
.highlight > pre {
word-wrap: normal;
white-space: pre;
margin-top: 1em;
margin-bottom: 1em;
border: 0.2em solid #11110f;
background: #11110f;
padding: 1em;
overflow: auto;
font-family: courier, monospace;
}

hr {
color: #333331;
border-color: #333331;
}

body { 
background-color: #181816;
/*
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjZjhkMjAzIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZjYyOSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZTUwMyIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMTgxODE2Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzFiMWIxOSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzFmMWYxZCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMTgxODE2Ij48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzE2MTYxNCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzFhMWExOCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iIzE4MTgxNiI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMxMTExMGYiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMxMTExMGYiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=");
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iIzE4MTgxNiI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMxNzE3MTUiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMxNzE3MTUiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=");
*/
color: #666663;
font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

/*
a {color: #489;}
a:hover, a:focus {color: #489; text-decoration: underline;}
*/

blockquote {
background: #151513;
border-left: 10px solid #333331;
margin: 1.5em 10px;
padding: 0.5em 10px;
quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
color: #333331;
content: open-quote;
font-size: 4em;
line-height: 0.1em;
margin-right: 0.25em;
vertical-align: -0.4em;
}
blockquote p {
display: inline;
color: #333331;
}

h1,h2,h3,h4,h5,h6 {
color: #998;
}

footer {
background: #489; /* Header color */
background-image: -moz-linear-gradient(center top , #478, #7ab);
height: 100%; 
width: 100%;
padding-bottom: 3em;
margin: 0px auto;
border-top: 1em solid #11110f;
}
